/vendor
.vscode
.idea

# hidden for installs to always request fresh copies of the dependencies instead of binding to versions cached in composer.lock and requiring an update before fetching
composer.lock
