RewriteEngine On

php_value upload_max_filesize 10M

php_value post_max_size 11M


# QSA = tack query string if present onto the target suphle_path
RewriteCond %{HTTP_HOST} ^(.*)

RewriteRule ^([\w\/]+)$ public/index.php?suphle_sub=%1&suphle_path=$1 [NC,QSA,L]

# serve index
RewriteCond %{HTTP_HOST} ^(.*)

RewriteRule ^/?$ public/index.php?suphle_sub=%1&suphle_path=index [NC,QSA,L]